:root{

  --primary:#e61897;
  --secondary:#3671ca;
  --danger:#ff0000;
  --success:#22b642;
  --dark:#000000;
  --light:#ffffff;
  --gray:#dad4d4;
  --border-radius5:5px;
  --bshadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
 overflow-x: hidden;
}



.btn{
  border: none;
  outline: none;
  border-radius: var(--border-radius5);
  padding: 0.5rem 2rem;
  cursor: pointer;
}

